*{
    cursor: url(../animaciones/bts.png), auto;
}

body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Color Emoji', sans-serif;
    margin: 0;
    padding: 0;
    background: #975dde;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #683098;
    box-shadow: 0 5px 29px 2px black;
    z-index: 2;
}

.heder-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav a {
    text-decoration: none ;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: pink;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: black;
    font-size: 18px;
    transition: color 300ms;
    margin-bottom: 30px;
    font-family: 'Parisienne', cursive;
}

.menu nav ul li a:hover{
    color: pink;
}

.menu .text-menu-selected{
    color: pink;
}

.logo-primario {
    margin-left: 20px;
    display: flex;
    font-family: 'Parisienne', cursive;
}

.preguntas {
    margin-top: 100px;
    border: 0.1px solid red;
    padding: 100px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}

.content-preguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

#divPuntos{
    position: fixed;
    margin-left: 30px;
    margin-top: 100px;
    height: 0;
    padding: 0;
    color: black;
}

.imagenes img{
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 9px 20px ;
}

button {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #350642;
    color: #dcc2e4;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0.1px 2px 7px black ;
    
}

button:hover {
    color: #e20707;
    transition: 1s;
}

button span {
    position: absolute;
    background: #fff;
    transition:0.5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0%;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0%;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    background-color: rgb(74, 1, 77);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 2.8s ease-in-out ;
}

.loader2{
    clip-path: circle(0% at 100% 0);
}